.env
public/uploads/photos/*
!public/uploads/photos/.gitkeep
backups/*
!backups/.gitkeep
documents/*
!documents/.gitkeep
hr_documents/*
!hr_documents/.gitkeep
purchase_contracts/*
!purchase_contracts/.gitkeep
certificates/*
!certificates/.gitkeep
fonts/unifont/*.mtx.php
fonts/unifont/*.cw.dat
fonts/unifont/*.cw127.php
